go 1.18

use (
	./embeddedStructs
	./emptyReturnValue
	./explicitReturns
	./hello
	./interfaceImplement
	./interfaces
	./multipleInterfaces
	./namedReturnValue
	./nestedStructs
	./struct
	./structMethods
	./varByValue
)
